@(message: String, campaign: Campaign, result:Map[String, Int], scenarios : Seq[Scenario])(implicit flash: play.api.mvc.Flash)

@import tags._
@import tags.buttons._

@scripts={
<script type="text/javascript" src='@routes.Assets.at("js/app/controllers/comments.js")'></script>
}

@main(message, scripts) {
<div class="header" ng-controller="CampaignCtrl">

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>@campaign.name</dd>
        <dt>Description</dt>
        <dd>@Html(campaign.description.getOrElse("<em>-</em>") )</dd>
        <dt>Browser</dt>
        <dd>@browser(campaign.browser.toLowerCase)</dd>
        <dt>Lang</dt>
        <dd>@flag(campaign.lang.toLowerCase)</dd>
    </dl>

    <span class="pull-left">@result.get("OK")%</span>

    <div class="progress">
        <div class="bar bar-success" style='width: @result.get("OK")%;'></div>
        <div class="bar bar-danger" style='width: @result.get("KO")%;'></div>
        <div class="bar bar-warning" style='width: @result.get("PENDING")%;'></div>
    </div>

    <h2>Scenarios</h2>

    <div class="accordion" id="accordion2">

        @scenarios.map { scenario =>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                   ng-click="loadSteps(@campaign.id, @scenario.id)" href="#collapse@scenario.id">
                    @scenario.name
                </a>
            </div>
            <div id="collapse@scenario.id" class="accordion-body collapse">
                <div class="accordion-inner">

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th style="width: 5%">#</th>
                            <th>Step</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in steps" class="{{row.testStep.status | stepStatusRow}}">
                            <td><span class="badge">{{row.testStep.numOrder}}</span></td>
                            <td>
                                <dl>
                                    <dt>{{row.step.name}}</dt>
                                    <dd ng-bind-html-unsafe="row.step.description"></dd>
                                </dl>
                            </td>
                            <td><span class="label label-{{row.testStep.status | stepStatusLabel}}">{{row.testStep.status}}</span>
                            </td>
                            <td>
                                <button id="btnCom_{{row.testStep.id}}" type="button" class="btn btn-info"
                                        ng-click="displayComments(row.testStep)">
                                    <i class="icon-comment"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Comments</h3>
        </div>
        <div class="modal-body">
            <p>Display comments loaded by ajax…</p>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Author</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="comment in comments">
                    <td>{{comment.dtCreat | fromNowTimestamp}}</td>
                    <td>{{comment.author}}</td>
                    <td><span ng-bind-html-unsafe="comment.texte"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>


</div>

<div class="form-actions">
    @btnCancel(routes.Campaigns.list())
    @btnEdit(routes.Campaigns.edit(campaign.id.getOrElse(0)))
    @btnView(routes.Campaigns.view(campaign.id.getOrElse(0)))
    @btnNew(routes.Campaigns.create())
</div>


}