@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="testus">
<head>
    <meta charset="utf-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("img/favicon.png")'>

    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/bootstrap-wysihtml5-0.0.2.css")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/2.2.2/css/bootstrap.min.css"))'>

    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/2.2.2/js/bootstrap.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("moment.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui/1.9.1/js/jquery-ui-1.9.1.custom.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("tiny_mce/tiny_mce.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("tiny_mce/jquery.tinymce.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.js"))'></script>
    <script type='text/javascript' src='@routes.Assets.at("js/libs/jquery.pnotify.min.js")'></script>


    <link rel="stylesheet" href='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui.min.css"))' >
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/main.css")'>

    <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>

    @** Application AngularJS module **@
    <script type="text/javascript" src='@routes.Assets.at("js/app/app.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/app/filters/moment.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/app/filters/steps.js")'></script>

    <script type="text/javascript" src='@routes.Assets.at("js/libs/wysihtml5-0.3.0_rc2.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("js/libs/bootstrap-wysihtml5-0.0.2.min.js")'></script>

    @scripts
</head>

<body>
<div class="page-header">
    <div class="container">
        <h1>
            <a href='@routes.Application.home()'>
                Play 2.0 sample app &mdash; TestUS
            </a>
        </h1>
    </div>

</div>

<section id="main">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
                @navigation()
            </div>

            <div class="span8">
                <!--Body content-->
                <h1>@title</h1>
                @content

            </div>
        </div>

    </div>
</section>
<div id="push"></div>
<hr>
@debug()
</body>
</html>
