@()
<div id="navigation" class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Menus</li>
        <li><a href="@routes.Application.home">Home</a></li>
        <li class="divider"></li>
        <li><a href="@routes.Stories.list(0)">Stories</a></li>
        <li><a href="@routes.Scenarios.list(0)">Scenarios</a></li>
        <li><a href="@routes.Steps.list(0)">Steps</a></li>
        <li><a href="@routes.Campaigns.list(0)">Campaigns</a></li>
        <li><a href="@routes.Releases.list(0)">Releases</a></li>
        @*
        <li class="nav-header">Geo</li>
        <li><a href="@routes.Countries.list">Countries</a></li>
        <li><a href="@routes.States.list">States</a></li>
        <li><a href="@routes.Provinces.list">Provinces</a></li>
        <li><a href="@routes.Cities.list">Cities</a></li>
        <li class="divider"></li>
        <li><a href="@routes.Clubs.list(0)">Clubs</a></li>
        <li><a href="@routes.Teams.list(0)">Teams</a></li>
        <li><a href="@routes.Players.list(0)">Players</a></li>
        *@
    </ul>
</div>
